
<ion-content>

  <ion-slides pager="true" [options]="slideOpts">
      
    <ion-slide>
      <h2>Welcome</h2>
      <h1>Let's GO!</h1>
      <ion-button expand="full" color="secondary" routerLink='/login'>Login</ion-button>
    </ion-slide>
  
    <ion-slide>
      <h2>You're not registerd?</h2>
      <h3>Register here</h3>
      <ion-button expand="full" color="secondary" routerLink='/signup'>Sign Up</ion-button>
    </ion-slide>
  
    <ion-slide>
      <h2>Slide 3</h2>
    </ion-slide>
  
  </ion-slides>
  