

<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="category">
        <ion-icon name="cube"></ion-icon>
        <ion-label>Category</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="play">
        <ion-icon name="american-football"></ion-icon>
        <ion-label>Play</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="highscore">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>High Scores</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
  
</ion-content>
